
  
  
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="example-container">
        <mat-form-field appearance="outline" class="offset-md-1">
          <mat-label>Offer Name</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field appearance="outline" class="offset-md-5">
          <mat-label>Date</mat-label>
          <input matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <mat-divider  [inset]="true"></mat-divider>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="example-container">
        <mat-form-field appearance="outline" class="offset-md-1">
          <mat-label>Category</mat-label>
          <mat-select>
            <mat-option *ngFor="let catagory of catagories" [value]="catagory.Id">
              {{catagory.Name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="exp-container mat-elevation-z8 offset-md-1">
       
      </div>
    </div>
  
    <div>
      
    </div>
  
  